<!DOCTYPE html>
<html>
  <head>
    <title>MovieRama</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1> <%= link_to "MovieRama", movies_url %></h1>
  <% if (params[:controller] != "sessions" ) %>
    <% if current_user %>
      <p>Logged in as <%= current_user.username%> </p>
      <%= button_to 'Log out', session_url, method: :delete%>
    <% else %>
      <%= link_to 'Log in', controller: "sessions", action: "new" %> or <%= button_to 'Sign up', {controller: :users, action: "new"}, {method: :get} %>
    <% end %>
  <% end %>
    <%= yield %>
  </body>
</html>
