<!DOCTYPE html>
<html>
  <head>
    <title>MovieRama</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if (params[:controller] != "sessions" && (params[:controller] != "users" && params[:action] != "show")) %>
  <p>Logged in as <%= current_user.username%> </p>
  <%= button_to 'Log out', session_url, method: :delete%>
  <% end %>
    <%= yield %>
  </body>
</html>
